<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{{title}}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{relPathToBaseUrl}}favicon.png">
        <link rel="icon"
              type="image/png"
              href="{{relPathToBaseUrl}}favicon.png">
        <link rel="stylesheet" href="{{relPathToBaseUrl}}css/app.css">
    </head>
    <body>
        <div id="content">{{{appContent}}}</div>
        <script type="text/javascript">
        //<![CDATA[
          {{{inlineJS}}}
        //]]>
        </script>
        <script>
        // async load scripts sequentially
        setTimeout(function() {
          [
            "{{relPathToBaseUrl}}js/lib.js",
            "{{relPathToBaseUrl}}js/app.js"
          ].forEach(function(src) {
            var script = document.createElement("script");
            script.src = src;
            script.async = false;
            document.head.appendChild(script);
          });
        }, 0);
        </script>
    </body>
</html>
